body {
    overflow-x: hidden;
}

.header__bg-img {
    position: absolute;
    top: -280px;
    z-index: -1;
    background-size: cover;
    width: 100vw;
    min-height: 1500px;
}

.advantages {
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 110px;
}

.advantages__title p {
    margin-bottom: 45px;
    color: #f3f3f3;
}

.advantages__item {
    margin-bottom: 45px;
}

.advantages__item:hover .advantages__item__icon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.advantages__item h4 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 18px;
}

.advantages__item p {
    margin-bottom: 0;
    color: #f3f3f3;
}

.advantages__item__icon {
    position: relative;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__item__icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.advantages__item__svg {
    width: 45px;
}

.advantages__item__svg path {
    fill: white;
}

.advantages-page {
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
    padding-top: 100px;
    z-index: 1;
    position: relative;
}

.advantages-page .cards-wrapper {
    display: flex;
    justify-content: center;
}

.advantages-page .card {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    background-color: rgba(22, 22, 26, 0.4);
    color: #f3f3f3;
    height: 365px;
    display: flex;
    flex-flow: wrap column;
}

.advantages-page .card ul {
    list-style-position: inside;
}

.advantages-page .card-title {
    box-sizing: border-box;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
}

.advantages-page .card-text {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.advantages-page .swiper {
    width: 100%;
    height: 415px;
    cursor: pointer;
}

.advantages-page .swiper-slide {
    text-align: center;
    font-size: 18px;
}

.advantages-page .swiper-pagination-bullet-active {
    background: #f3f3f3;
}

.timeline {
    position: relative;
    z-index: 2;
    background-size: cover;
}

.timeline__item {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline__item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
}

.timeline__item div {
    width: 500px;
}

.timeline__item-card, .timeline__item-card-text {
    position: relative;
    bottom: 0;
    width: 320px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgb(63, 57, 57);
    border-radius: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

time {
    position: absolute;
    background: #f5af19;
    width: 180px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline__item-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline__item-card-text p {
    text-align: center;
    color: #333333;
}

.timeline__item:nth-of-type(odd) .timeline__item-card {
    left: 45px;
}

.timeline__item:nth-of-type(even) .timeline__item-card {
    left: -540px;
}

.timeline__item:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline__item:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline__item.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.feedback__img {
    max-height: 400px;
    margin-right: 100px;
}

@media screen and (max-width: 1540px) {
    .timeline__item div {
        width: 400px;
    }

    .timeline__item:nth-of-type(even) .timeline__item-card {
        left: -440px;
    }
}

@media screen and (max-width: 1400px) {
    .feedback__img {
        margin-right: 0;
    }

    .timeline__item div {
        width: 450px;
    }

    .timeline__item:nth-of-type(even) .timeline__item-card {
        left: -480px;
    }

    .timeline__item:nth-of-type(odd) div {
        transform: translate3d(50px, -10px, 0) rotate(10deg);
    }

    .timeline__item:nth-of-type(even) div {
        transform: translate3d(-50px, -10px, 0) rotate(10deg);
    }

    .timeline__item.in-view div {
        transform: none;
    }
}

@media screen and (max-width: 1270px) {
    .advantages-page .cards-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .timeline__item div {
        width: 380px;
    }

    .timeline__item:nth-of-type(even) .timeline__item-card {
        left: -440px;
    }

    .timeline__item:nth-of-type(odd) div {
        transform: translate3d(-100px, 10px, 0) rotate(10deg);
    }

    .timeline__item:nth-of-type(even) div {
        transform: translate3d(-100px, 10px, 0) rotate(10deg);
    }

    .timeline__item.in-view div {
        transform: none;
    }
}

@media screen and (max-width: 1200px){
    .advantages-page .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 996px) {
    .breadcrumb__text .advantages__main-title {
        font-size: 45px;
    }

    .breadcrumb__text a, .breadcrumb__text span, .breadcrumb__links a:after {
        font-size: 30px;
    }

    .advantages-page {
        padding-top: 60px;
    }

    .advantages__title h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 900px) {
    .timeline__item {
        margin-left: 20px;
    }

    .timeline__item div {
        width: calc(100vw - 250px);
    }

    .timeline__item:nth-of-type(even) .timeline__item-card {
        left: 65px;
    }

    .timeline__item:nth-of-type(odd) .timeline__item-card {
        left: 65px;
    }
}

@media screen and (max-width: 768px) {
    .breadcrumb-option {
        padding-top: 130px;
    }

    .breadcrumb__text .advantages__main-title {
        font-size: 30px;
    }

    .breadcrumb__text a, .breadcrumb__text span, .breadcrumb__links a:after {
        font-size: 20px;
    }

    .advantages__title {
        max-width: unset;
    }

    .timeline__item div {
        width: calc(100vw - 150px);
    }

    .timeline__item:nth-of-type(even) .timeline__item-card, .timeline__item:nth-of-type(odd) .timeline__item-card {
        left: 35px;
    }
}

@media screen and (max-width: 740px) {
    .advantages-page .swiper-slide {
        font-size: 14px;
    }
    .advantages-page .card-title {
        font-size: 18px;
    }

    .advantages-page .card {
        height: unset;
    }

    .advantages-page .swiper-wrapper {
        height: unset;
    }
    .advantages-page .swiper {
        height: 295px;
    }

    .advantages-page .swiper {
        height: 335px;
    }
    .advantages__title h2 {
        font-size: 21px;
    }
}

@media screen and (max-width: 600px) {
    .advantages-page .swiper {
        height: 315px;
    }
    .advantages-page .swiper-slide {
        font-size: 12px;
    }
    .advantages-page .card-title {
        font-size: 15px;
    }

    .breadcrumb__text .advantages__main-title {
        font-size: 24px;
    }

    .breadcrumb__text a, .breadcrumb__text span, .breadcrumb__links a:after {
        font-size: 18px;
    }

    .timeline__item div {
        width: calc(100vw - 100px);
    }

    .timeline__item-card-text h4 {
        font-size: 20px;
    }

    .timeline__item-card-text p {
        font-size: 14px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 568px) {
    .advantages-page .swiper {
        height: 315px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 540px){
    .advantages-page .card-title {
        height: 50px;
    }
    .advantages-page .swiper {
        height: 250px;
    }
}

@media screen and (max-width: 460px) {
    .advantages__title h2 {
        font-size: 17px;
    }

    .timeline__item-card-text h4 {
        font-size: 15px;
    }

    .timeline__item-card-text p {
        line-height: 14px;
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){
    .breadcrumb__text .advantages__main-title {
        font-size: 20px;
    }
    .breadcrumb__text a, .breadcrumb__links a:after {
        font-size: 16px;
    }
    .breadcrumb__links span {
        font-size: 16px;
        right: -24px;
        top: 0;
    }

    .advantages-page .swiper {
        height: 280px;
    }
}

@media screen and (max-width: 360px) {
    .timeline__item-card-text h4 {
        font-size: 14px;
        line-height: 16px;
    }

    .timeline__item-card-text p {
        line-height: 12px;
        font-size: 12px;
    }

    .timeline__item div {
        width: calc(100vw - 75px);
    }
}